{% extends 'inicio.html' %}
{% load static %}

{% block equation %}
<link rel="stylesheet" href="{% static 'mathscribe/jqmath-0.4.3.css' %}">
<script src="{% static 'mathscribe/jquery-1.4.3.min.js' %}"></script>
<script src="{% static 'mathscribe/jqmath-etc-0.4.6.min.js' %}" charset="utf-8"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/styleExa.css' %}">{% endblock %}
{% block title %} Teoría | Conjuntos {% endblock %}


{% block header %}
<section class="textos-header">
    <h1>Comprende los principios teóricos de los Conjuntos</h1>
    <h2>Utilizando la tecnología a tu favor</h2>
</section>
<div class="ola">
    <div style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</div>

{% endblock %}

{% block contenido %}
    <div class="container-fluid">

        <div class="jumbotron my-4">
            <h3 class="text-info">
                {{respondida.pregunta.texto|safe}}
            </h3>
            <p>
                <strong>
                    Tu respuesta:
                </strong>
                {{respondida.respuesta.texto|safe}}
            </p>
            {% if respondida.respuesta.correcta %}
                <h4 class="text-success">Perfecto!! Tu respuesta es correcta</h4>
            {% else %}
                <h4 class="text-danger">Lo siento!! Tu respuesta es incorrecta </h4>
                {% for respuesta in respondida.pregunta.opciones.all %}
                    {% if respuesta.correcta %}
                    <br>
                        <h4>La respuesta correcta es: <span class="text-success"> {{respuesta}}</span></h4>
                    <br>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <a href="{% url 'jugar' %}" class="buttonC">
                <span>Siguiente pregunta</span>
            </a>
        </div>
    </div>

{% endblock %}