{% extends "inicio.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block equation %}
<link rel="stylesheet" href="{% static 'mathscribe/jqmath-0.4.3.css' %}">
<script src="{% static 'mathscribe/jquery-1.4.3.min.js' %}"></script>
<script src="{% static 'mathscribe/jqmath-etc-0.4.6.min.js' %}" charset="utf-8"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/stylecalc.css' %}">{% endblock %}
{% block title %} Calculadora | unión {% endblock %}


{% block header %}
<section class="textos-header">
    <h1>Comprende los principios teóricos de los Conjuntos</h1>
    <h2>Utilizando la tecnología a tu favor</h2>
</section>
<div class="ola">
    <div style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</div>

{% endblock %}

{% block contenido %}

{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}
<h1 style="color: #fff;">Calculadora de conjuntos: Unión </h1>
<br>
<h4 style="color: #fff;"> Ingrese los elementos de cada conjunto con una coma <code style="font-size: 28px;">","</code>
    para separar cada uno de ellos</h4> <br> <br>

<div class="row aling items-center">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-8">
        <form action="{% url 'add' %}" style="color: #fff;">
            Conjunto 1: <input type="text" name="c1"> <br> <br>
            Conjunto 2: <input type="text" name="c2"> <br> <br>
            <a class="buttonO">
                <span>
                    <button type="submit" class="btn btn-link"> <code
                            style="color: #fff; font-size: 20px;">Hallar unión</code></button>
                </span>
            </a>
            {{ form|crispy }}
        </form>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
        <a class="buttonC" href="{% url 'indexLand' %}">
            <span>Pagina Principal</span>
        </a>
    </div>

    <div class="col-lg-4">
        <a class="buttonP" href="{% url 'menucalc' %}">
            <span>Menú de operaciones</span>
        </a>
    </div>
    <div class="col-lg-2">
    </div>
</div>

{% endblock %}